assets/
_mmServerScripts/
bower_components/
build/
chartjs/
config/
dist/
documentation/
gambar_fi/
gambar_pelatihan/
gambar_progress/
gambar_progress_barang_kembali/
gambar_progress_belum_dijual/
ijazah_teknisi/
php-barcode-master/
plugins/
PHPExcel/
*.zip
*.rar
*.log